body {margin:0;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #BD2031;
    position: absolute;
    left: 220px;
    top: 22px;
    width: 80%;
}

li.tab{
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    color: #BD2031;
    background-color: #FFD700;
}

.active {
    color:#BD2031; 
    background-color: #FFD700;
}

#imageHolder {
    position: absolute;
    left: 20px;
    top: 16px;
}

#headerWrapper {
    height: 100px;
    width: 100%;
    background: #33334d;
}

body {
    background:#f2f2f2;
}

.subheader {
    position: relative;
    left: 150px;
    top: 0px;
    background-color:#33334d;
    width: 75%;
    color:white;
    text-align:center;
    border-radius: 25px;
    padding:5px;
}

div.book {
    position: relative;
    top: 70px;
    left: 220px;

}

p.welcome {
    color: #FFD700;
    font-weight: bold;
    position: relative;
    top: 14px;
}

#cardinalsilk {
    width: 100%;
    height: 10px;
    background-color: #FFD700;
}

#goldsilk {
    width: 100%;
    height: 10px;
    background-color: #BD2031;
}

.panel-footer {
    position: relative;
    top: 100px;
    background-color: #33334d;
    text-align: center;
    color: white;
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 35%;
      margin: auto;
}
.row {
    position: relative;
    left: 180px;
    width: 71%;
}

.row:hover {
    background-color: white;
}
#postitembutton {

    position: relative;
    top: 30px;
    left: 190px;
}

#loginbutton {
    width: 288px;
}

#logindiv {
    position: absolute;
    background-position: center;
    top: 160px;
    width: 100%;
    background-color: #FFD700;
}


#logincontainerwrapper {
    position: relative;
    height: 350px;
    background-color: #BD2031;
    top: 120px;
}

.errormsg {
    font-weight: bold;
    color: #BD2031;
}
